  :host {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 2rem;
    min-height: 80vh;
  }

  mat-card {
    width: 20vw;
    height: 38vh;
    margin: 1rem;
    padding: 1rem;

    &.show-details {
      cursor: pointer;

      mat-card-title {
        height: 7.5rem;

        mat-icon {
          bottom: 6.5rem;
        }
      }
    }

    mat-card-title {
      margin: 0;
      padding: 0;
      height: 10rem;

      img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        overflow: hidden;
      }

      mat-icon {
        position: relative;
        bottom: 4rem;
        left: 80%;
        height: 3rem;
        width: 3rem;
      }
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      padding: 1rem 0 0;

      p {
        margin: 0;

        &.name {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    mat-icon {
      margin: 2rem auto;
      transform: scale(4);
    }
  }

  @media (max-width: 1025px) {
    mat-card {
      width: 35vw;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    :host {
      margin: 0.5rem;

      mat-card {
        width: 55vw;
        height: auto;
        margin: 0.5rem;
        padding: 0.5rem;
      }
    }
  }

  @media (max-width: 475px) {
    mat-card {
      width: 80vw;
    }
  }
